# Web
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

# DB
sqlalchemy==2.0.36
asyncpg==0.29.0          # async — FastAPI
psycopg2-binary==2.9.9   # sync — Celery workers
alembic==1.13.3

# Config
pydantic==2.9.2
pydantic-settings==2.5.2

# Async task queue
celery==5.4.0
redis==5.1.1

# Utils
python-dotenv==1.0.1
python-magic==0.4.27
aiofiles>=23.0.0         # required by FastAPI StaticFiles
pandas>=2.0.0
